.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-style{
  display: flex;
  flex-direction: column;
  padding: 100px;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 4px rgb(213, 213, 213);
}

.form-style label{
  margin: 5px;
}

.form-style input{
  padding: 10px;
  width: 200px;
  margin: 5px 0;
}

.form-style button{
  margin-top: 8px;
  padding: 8px;
  background-color: blueviolet;
  border: none;
  color: white;
  font-weight: bold;
}
